<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ launch_agent_name }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>macprefs</string>
        <string>backup</string>
    </array>
    <key>StartInterval</key>
    <integer>{{ regular_backup_interval_seconds }}</integer>
</dict>
</plist>
